@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #020617;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #38bdf8,
    #8b5cf6,
    #06b6d4
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.1);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 20px;
}
.gradient-text {
  background: linear-gradient(
    to right,
    #38bdf8,
    #8b5cf6,
    #06b6d4
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass {
  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(
    255,
    255,
    255,
    0.1
  );
}